{% extends 'base.html.twig' %}

{% block title %} Modifier une voyage {% endblock %}

{% block body %}
<h1>Modifier une voyage</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Mettre à jour</button>
{{ form_end(form) }}

<a href="{{ path('app_voyage_index') }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
